*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    max-width: 100%;
}
.header {
   
    top: 0;
    left: 0;
    width: 100%;
   padding: 45px 5%;
    background-color: rgb(36, 35, 35);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    font-size: 40px;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: white;
    text-shadow: 0 0 10px white, 0 0 10px white;
}
.logo img{
    width: 45px;
}
span{
    color: red;
}
.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 30x solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: red;
    border-bottom: 3px solid red;
}
.contact {
    padding: 18px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: red;
    box-shadow: 0 0 25px red;
    color: white;
}
.home{
    width: 100%;
    min-height: 80vh;
    background-color: rgb(187, 186, 186);
    display: flex;
    align-items: center;
    
    padding: 30px 12px 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 60px;
    margin: 25px 0 15px;
}
.btn{
    margin-top: 30px;
    padding: 15px 25px;
    background-color: red;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3 ease;
    cursor: pointer;
}
.btn:hover{
    background-color: #242323;
    border: 2px solid black;
    text-shadow: 0 0 10px white;
}
.img-box {
    display: flex;
}
.img-box img{
    width: 100%;
}
.details{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    min-height: 80vh;
    align-items: center;
    padding: 80px 4%;
}
.details div{
    width: 300px;        /* div চওড়া */
    height: 350px;       /* div লম্বা */
    padding: 25px;
    background: #f5f5f5;
    border-radius: 15px;
    text-align: center;
}
.details .card{ 
    height: 480px;
    width: 380px;
    font-weight: 600;
    margin-bottom: 20px;
     padding: 20px; 
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
} 
.card h1{
    margin-top: 10px;
    font-size: 26px;
    background-color: rgba(216, 201, 201, 0.5);
    padding: 25px 35px;
}
.details a{
    background-color: red;
    padding: 15px 25px;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3 ease;
    cursor: pointer;
}
.details #d1{
    background-image: url(l2.jpeg);
    background-position: center;
    background-size: cover;
      background-repeat: no-repeat;
      
}
.details #d2{
    background-image: url(l1.jpeg);
    background-position: center;
    background-size: cover;
      background-repeat: no-repeat;
}
.details #d3{
    background-image: url(l3.jpeg);
    background-position: center;
    background-size: cover;
      background-repeat: no-repeat;
}
.hudai{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 0;
}
.hudai h3{
    color: gray;
}
.product{
    background-color: rgba(216, 201, 201, 0.5);
    text-align: center;
    padding: 80px 0 80px 100px;
}
.product h1{
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 10px;
}
.product p{
    font-weight: 400;
}
.product-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 50px;
}
.products {
    width: 300px;
    background-color: white;
    padding: 15px 20px;
    border: 2px solid rgb(161, 157, 157);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(161, 157, 157);
}
.products:hover{
   box-shadow: 10px 10px 10px rgb(192, 71, 71);
}
.products img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.products h3{
    font-weight: 700;
    font-size: 1.25em;
    padding: 8px 0;
}
.products ul{
    text-align: justify center;
   list-style: none;
}
.products ul li{
    color: grey;
}
.products h2{
    padding-top: 10px;
} 
.form-box{
    padding: 50px 0 25px 50px;
    align-items: center;
}
.form-box form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.form-box .input-box input, textarea{
    width: 50%;
    padding: 1.2em;
    font-size: 16px;
    color: black;
    background-color: rgba(241, 241, 241, 241);
    border-radius: .8rem;
    margin: 0;
    resize: none;
}
.fh2{
    font-weight: 200px;
    text-align: center;
    padding-bottom: 20px;
}
footer{
    text-align: center;
    bottom: 0;
    padding: 48px 0;
    width: 100%;
    background-color: #242323;
}
footer .socials{
    text-align: center;
    padding-bottom: 20px;
    color: rgb(243, 237, 237);
}
footer .socials a{
    display: inline-flex;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    border: 2px solid red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    box-shadow: inset 0 0 10px red;
    transition: 0.3s ease;
}
footer p{
    color: white;
}
